{% extends 'base.html.twig' %}

{% block title %}Page Reservation{% endblock %}


{% block body %}
<style>

</style>

<center><h1>Reservation</h1></center>
<br>
<center><h5>Les aventures remplissent l'âme !</h5></center>



<br>
<button class="btn btn-primary" type="submit" <a href="\reserv" /a>Reservation</button>
{% endblock %}

