{% extends 'base.html.twig' %}

{% block title %}Edit Tarifer{% endblock %}

{% block body %}
    <h1>Edit Tarifer</h1>

    {{ include('tarifer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tarifer_index') }}">back to list</a>

    {{ include('tarifer/_delete_form.html.twig') }}
{% endblock %}
