
{% extends 'base.html.twig' %}

{% block title %}Accueil LibertyLines{% endblock %}

{% block body %}

<style>
    .ajustNavbar{font: 18px/1.5 sans-serif; }
    .ajustTitle{margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .border {background : #000; color: #fff}
    .bigTitle code { background: #F5F5F5; padding: 2px 6px;}
     body {background : DeepSkyBlue}

</style>    
<div class="ajustNavbar ml-auto">
    <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
  
    <a class="navbar-brand " href="#">  <img src = "" alt = "LogoLiberty" weight = "70" height = "70"><a/></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active nav text-primary" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav" aria-current="page" href="#">Reservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav" aria-current="page" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav aria-current" ="page" href="#">Contact</a>
        </li>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Recherche spécifique" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <li class="nav-item">
          <a class="nav-link active nav aria-current" ="page" href="#"> Log in</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active nav aria-current" ="button" href="#">Sign up</a>
      </li>


    </div>
  </div>
</nav>
    </div>
  </div>
</div>
</nav>
    


{% endblock %}
