{% extends 'base.html.twig' %}

{% block title %}Connexion nouveau client{% endblock %}

{% block body %}
    <center><h1>Connexion</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('app_client_index') }}">back to list</a></center>
{% endblock %}
