{% extends 'base.html.twig' %}

{% block title %}Edit TypeReservation{% endblock %}

{% block body %}
    <h1>Edit TypeReservation</h1>

    {{ include('type_reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_reservation_index') }}">back to list</a>

    {{ include('type_reservation/_delete_form.html.twig') }}
{% endblock %}
